<!-- views/connect-local.ejs -->
<!doctype html>
<html>
<head>
    <title>GetUp&Play</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
  <div class="container">
    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-user"></span> Confirm Email</h1>

        <% if(expiredToken == false) { %>
            <div id="alertDiv">
              </br>
              Please <a href=`/confirmed-local/<%=token%>` id="confirmEmail">Click Here</a> to confirm your email.
            </div>
        <% } %>
        <% if(expiredToken == true){ %>
            <div id="alertDiv">
              </br>
              Your token has expired. <a href="/resend-token/<%=token%>" id="resendEmail">Click Here</a> to resend confirmation email.
            </div>
        <% } %>







        <hr>

        <p><a href="/logout">Go Home</a></p>

    </div>
  </div>
</body>
<script>
  const token=`<%=token%>`
  const email=`<%=email%>`
</script>
<script src="/static/scripts/confirmedEmail.js"></script>
</html>
